{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Isolate plugin for Craft CMS 3.x
 *
 * Isolate index.twig
 *
 * @author    TrendyMinds
 * @copyright Copyright (c) 2019 TrendyMinds
 * @link      https://trendyminds.com
 * @package   Isolate
 * @since     1.0.0
 */
#}

{% requirePermission "isolate:assign" %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("trendyminds\\isolate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set selectedSubnavItem = "users" %}

{% set title = user is not defined ? "Isolate" : user.name %}
{% set fullPageForm = user is defined ? true : false %}

{% set pluginCpUrl = url('isolate') %}

{% block sidebar %}
  <nav>
    <ul>
      <li class="heading"><span>Users</span></li>

      {% for navUser in craft.isolate.users %}
        {% set class = "" %}

        {% if user.id is defined and user.id == navUser.id %}
          {% set class = "sel" %}
        {% endif %}

        <li><a href="{{url('isolate/users/' ~ navUser.id)}}" class="{{class}}">{{navUser.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% if user is defined %}
  {% set assignedEntries = [] %}

  {% for permission in craft.isolate.getUserEntries(user.id) %}
    {% set assignedEntries = assignedEntries | merge([permission.id]) %}
  {% endfor %}
{% endif %}

{% set content %}
  {% if user is defined %}
    <input type="hidden" name="action" value="isolate/default/save-user">
    <input type="hidden" name="userId" value="{{user.id}}">

    {% for section in craft.app.sections.allSections %}
      {% set userCanEdit = user.can("editEntries:" ~ section.uid) %}

      {% if section.type != "single" %}
        {% set entries = craft.entries.section(section.handle).limit(NULL).all() %}

        <section class="isolate__section" data-isolate-group="{{section.name}}" data-enabled="{{craft.isolate.userIsolatedFromSection(user.id, section.handle) ? 'true' : 'false'}}">
          <div class="isolate__section-header">
            <h2 class="isolate__section-name">{{section.name}}</h2>
            <a href="#" class="isolate__section-toggle icon" data-toggle="manage-{{section.handle}}">
              <span data-toggle-label></span>
            </a>
          </div>

          {% if userCanEdit and entries | length > 0 %}
            {% set options = [] %}

            {% for entry in entries %}
              {% set options = options | merge([{
                  label: entry.title,
                  value: entry.id,
                  name: "entries[]",
                  disabled: true,
                  checked: entry.id in assignedEntries
                }])
              %}
            {% endfor %}

            <div class="manage-{{section.handle}}">
              {{ forms.checkboxGroupField({
                  label: "",
                  options: options
                })
              }}
            </div>
          {% endif %}

          {% if entries | length == 0 and userCanEdit %}
            <p class="light">This section does not have any entries at this time.</p>
            <p><a href="{{url('entries/' ~ section.handle ~ '/new')}}" class="go">Create a new {{section.name}} entry</a></p>
          {% endif %}

          {% if not userCanEdit %}
            <p class="light">This user currently does not have permission to edit <strong>{{section.name}}</strong> entries.</p>
            <p><a href="{{url('users/' ~ user.id)}}#perms" class="go">Modify this user's permissions</a></p>
          {% endif %}
        </section>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if user is not defined %}
    {% include "isolate/_partials/empty-frame" %}
  {% endif %}
{% endset %}
