{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Isolate plugin for Craft CMS 3.x
 *
 * Isolate index.twig
 *
 * @author    TrendyMinds
 * @copyright Copyright (c) 2019 TrendyMinds
 * @link      https://trendyminds.com
 * @package   Isolate
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("trendyminds\\isolate\\assetbundles\\isolate\\IsolateAsset") %}
{% do view.registerAssetBundle("trendyminds\\isolate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set selectedSubnavItem = "users" %}

{% set title = user is not defined ? "Users" : user.name %}
{% set fullPageForm = user is defined ? true : false %}

{% set pluginCpUrl = url('isolate') %}

{% block sidebar %}
  <nav>
    <ul>
      <li class="heading"><span>Users</span></li>

      {% for user in craft.isolate.users %}
        {% set class = "" %}

        {% if id is defined and id == user.id %}
          {% set class = "sel" %}
        {% endif %}

        <li><a href="{{url('isolate/users/' ~ user.id)}}" class="{{class}}">{{user.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% set content %}
  {% if user is defined %}
    <input type="hidden" name="action" value="isolate/default/save-user">
    <input type="hidden" name="userId" value="{{id}}">
  {% endif %}

  {% if sections is defined %}
    {% for section in sections %}
      <section class="isolate__section">
        <div class="isolate__section-header">
          <h2 class="isolate__section-name">{{section.name}}</h2>
          <a href="#" class="isolate__section-toggle js-manage icon secure" id="manage-{{section.handle}}">
            <span>Assign</span>
          </a>
        </div>

        {% if section.canEdit %}
          {% set options = [] %}

          {% for entry in craft.entries.section(section.handle).limit(NULL).all() %}
            {% set options = options | merge([{
                label: entry.title,
                value: entry.id,
                name: "entries[]",
                disabled: true,
                checked: true
              }])
            %}
          {% endfor %}

          <div class="manage-{{section.handle}}">
            {{ forms.checkboxGroupField({
                label: "",
                options: options
              })
            }}
          </div>
        {% endif %}

        {% if not section.canEdit %}
          <p class="light">This user currently does not have permission to edit <strong>{{section.name}}</strong> entries.</p>
          <p><a href="{{url('users/' ~ user.id)}}#perms" class="go">Modify this user's permissions</a></p>
        {% endif %}
      </section>
    {% endfor %}
  {% endif %}
{% endset %}
